<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static\index.css">
    <title>Title</title>
</head>
<body>
<p class = 'title'><b>База данных</b></p>
<div class = 'menu'>
    <a href="/" class = 'menu'><b>Все пользователи</b></a>
    <a href="/search" class = 'menu'>Поиск</a>
    <a href="/add_user" class = 'menu'>Добавить</a>
</div>
<div class = 'users_list'>
<p>
<ul>
    {% for user in users %}
    {% if user['is_blocked'] %}
    <li><span class = "name">{{user['name']}}</span>, {{user['age']}},
        Заблокирован, разблокируется
         {{user['unblock_date']}}
    </li>
    {% else %}
        <li> <span class = "name">{{user['name']}}</span> , {{user['age']}},
    </li>
    {% endif %}
    {% endfor %}
</ul>
</div>
</body>
</html>